.debug {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.strong1 {
  color: #FF7E16;
  color: #FF4516;
}

.container_video_wrapper {
  max-width: 80%;
  width: 800px;
  left: 0;
  right: 0;
  margin: auto;
}

.container_video_wrapper .video_wrapper {
  position: relative;
  margin: 0 auto;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.container_video_wrapper .video_wrapper .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map_wrapper {
  position: relative;
  margin: auto;
  width: 80%;
  height: 250px;
}

.map_wrapper .adress_map {
  width: 100%;
  height: 100%;
}

.topnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80px;
  background-color: #FF4516;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.topnav #navlogo {
  position: relative;
  margin-left: 20px;
  height: 70px;
}

.topnav .NavLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 60%;
  margin-left: auto;
  list-style-type: none;
  position: relative;
}

@media (min-width: 992px) {
  .topnav .NavLinks {
    width: 50%;
  }
}

.topnav .NavLinks li {
  position: relative;
  text-align: center;
}

.topnav .NavLinks li a {
  color: #FAFFF3;
  text-decoration: none;
  font-size: 2.6rem;
  font-weight: bold;
}

.topnav .NavLinks li:hover a {
  color: #1a2635;
}

header {
  background-image: url("../gfx/pictures/crowd_photo_lighter.png.jpg");
  background-repeat: no-repeat;
  background-size: 1620px;
  background-position-x: center;
  background-position-y: -70px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

header #header-background {
  display: none;
  position: absolute;
  z-index: -2;
}

header .topline, header .underline {
  background-color: #FF4516;
  text-align: center;
  text-transform: uppercase;
  color: #FAFFF3;
  font-weight: 700;
  font-size: 2.88rem;
  margin: 0 auto 5px;
}

header .underline {
  max-width: 450px;
  padding: 15px 0;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 2.2rem;
  background-color: #FF4516;
  color: #FAFFF3;
}

header .intro__text {
  position: relative;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  color: #1a2635;
  padding: 0;
}

header .intro__text h2 {
  font-size: 2.5rem;
  text-align: center;
}

header #main_logo {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

header #main_logo img {
  width: 100%;
  max-width: 850px;
}

#local .section {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
      grid-template-areas: "illustration illustration header header header" "illustration illustration text text text" "illustration illustration text text text" "illustration illustration info info info";
}

#local .section .section__illustration {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: illustration;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50%;
     object-position: 50%;
}

#local .section h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: header;
  font-size: 55px;
  text-transform: uppercase;
  margin: 0 1rem;
}

#local .section > p {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: text;
  color: #313131;
  font-size: 12px;
  line-height: 20px;
  margin: 0 1rem;
}

#local .section .infs {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: info;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.infs {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: #313131;
  height: 100%;
}

.infs .infocard {
  position: relative;
  text-align: center;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.infs .infocard img {
  width: 30px;
  position: relative;
  margin-top: 10px;
}

.infs .infocard p {
  font-size: 11px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.infs .infocard a {
  text-decoration: none;
  color: inherit;
}

.infs .infocard:hover {
  background-color: #111111;
}

.infs .infocard:hover img {
  -webkit-filter: invert(0.9);
          filter: invert(0.9);
}

.infs .infocard:hover p {
  color: #f3f3f3;
}

main section:nth-child(1) {
  margin-top: 50px;
}

main section {
  max-width: 1000px;
  margin: 0 auto 40px;
}

main section h1, main section h2 {
  margin: 0;
  padding: 0;
}

main section .section__header {
  background-color: #F8F8F8;
  color: #1a2635;
  border-top: 20px solid #1a2635;
  border-bottom: 20px solid #1a2635;
  border-radius: 1px;
  text-align: center;
  margin-bottom: 20px;
}

main section .section__header h1 {
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 5px;
}

main section .section__header h2 {
  font-weight: 900;
  font-size: 2.8rem;
}

main section .section__content {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  padding: 5px;
}

main section .section__content p {
  margin: 10px auto 10px;
}

main section .section__content img {
  max-width: 80%;
  display: block;
  margin: 0px auto  10px;
}

main section .section-strong {
  border: 2px solid #FF4516;
}

main section .section-strong h2 {
  color: #FF4516;
}

footer {
  position: relative;
  text-align: center;
  padding: 1em 2em;
  background-color: #FF4516;
  color: #FAFFF3;
}

footer #footer_logo {
  margin: 1.5em 0;
  width: 100px;
}

footer .msm_nav {
  /* align al little left to centralize */
  margin-left: -2em;
}

footer .msm_nav ul li {
  display: inline;
  /* spacing */
  margin-right: .5em;
}

footer .msm_nav .msm-nav-icon img {
  width: 3.2em;
  /* make the icons stand out from the dark background; invert the colors from black to white */
  -webkit-filter: invert(1);
  filter: invert(1);
}

footer .impressum {
  font-size: 1.5rem;
  margin: 2.5em 0;
}

@media (max-width: 767px) {
  .desktop {
    display: none;
  }
  header {
    background-size: 1620px;
    background-position-x: center;
    background-position-y: -70px;
    margin-bottom: 20px;
  }
  .container_video_wrapper {
    width: 100%;
    max-width: 100%;
  }
  .topnav {
    position: -webkit-sticky;
    position: sticky;
    min-height: 50px;
    z-index: 2;
    top: 0;
    margin: 0;
    display: block;
    text-align: right;
    /* custom (css) burger icon */
  }
  .topnav #navlogo {
    position: absolute;
    left: 0px;
    z-index: 3;
    top: 50%;
    height: 45px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .topnav .NavLinks {
    display: block;
    position: fixed;
    right: -155vw;
    top: 0px;
    height: 100vh;
    width: 55vw;
    padding-top: 50px;
    margin-left: auto;
    z-index: 2;
    background-color: #FF4516;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
  }
  .topnav .NavLinks li {
    display: block;
    padding: 5px 20px;
    margin: 0 0 30px 0;
    text-align: right;
  }
  .topnav .NavLinks li a {
    color: #FAFFF3;
    text-decoration: none;
  }
  .topnav .NavLinks li:hover {
    background-color: #F8F8F8;
  }
  .topnav .NavLinks li:hover a {
    color: #FF4516;
  }
  .topnav .NavLinks.open {
    right: 0vw;
  }
  .topnav .hamburger {
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer;
    z-index: 3;
  }
  .topnav .hamburger .line {
    display: block;
    width: 35px;
    height: 5px;
    background-color: #F8F8F8;
    border-radius: 1px;
    -webkit-transition: all 0.2s ease-in, opacity 0.1s linear;
    transition: all 0.2s ease-in, opacity 0.1s linear;
  }
  .topnav .hamburger .line + .line {
    margin-top: 6px;
  }
  .topnav .hamburger.open .line {
    background-color: #F8F8F8;
    border-color: #F8F8F8;
  }
  .topnav .hamburger.open .line:nth-child(1) {
    -webkit-transform: translateY(9px) rotate(45deg);
            transform: translateY(9px) rotate(45deg);
  }
  .topnav .hamburger.open .line:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
  }
  .topnav .hamburger.open .line:nth-child(3) {
    -webkit-transform: translateY(-13px) rotate(-45deg);
            transform: translateY(-13px) rotate(-45deg);
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
/*# sourceMappingURL=style_main_2.css.map */