@import "media";
@import "videopanel";


$colorscheme: (
    background_primary: #F8F8F8,
    background_secondary: #1a2635, //#2F3627,
    background_third: #1a2635,
    font: #1a2635,  //#2F3627,
    font_secondary: #FAFFF3,
    font_third: #7D0300,
    link: #7D0300
);

$colorscheme: (
    background_primary: #F8F8F8,
    background_secondary: #FF4516, //#2F3627,
    background_third: #FF4516,
    background_fourth: #B20400,
    background_dark: #1a2635,
    font: #1a2635,  //#2F3627,
    font_secondary: #FAFFF3,
    font_third: #FF4516,
    link: #7D0300,
    link_secondary: violet
);



@function bkaColor($color){
    @return map-get($colorscheme, $color);
}


.debug{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: bkaColor(background_primary);
    //font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.strong1{
    color: #FF7E16;
    color: #FF4516;
}



.map_wrapper{
    position: relative;       
    margin: auto;
    width: 80%;
    height: 250px;

    .adress_map{
        width: 100%;
        height: 100%;
    }
}


header{

    background-image: url("../gfx/pictures/crowd_photo_lighter.png.jpg"); //
    background-repeat: no-repeat;  
    background-size: 1920px;
    background-position-x: center;
    background-position-y: -70px;
    
    margin-bottom: 50px;
    padding-bottom: 20px;
   
    
    .topline{
        
        background-color: bkaColor(background_secondary);
        text-align: center;
        text-transform: uppercase;
        color: bkaColor(font_secondary);
        font-weight: 700;
        font-size: 2.88rem;
        margin: 0 auto 5px;
    }
    .underline{
        @extend .topline;
        max-width: 450px;
       
        padding: 15px 0;
        margin-bottom: 15px;
        border-radius: 2px;
        font-size: 2.2rem;
           
        background-color: bkaColor(background_secondary);
        color: bkaColor(font_secondary);
    }
    .intro__text{
        position: relative;
        display: inline;
        align-items: center;
        
        text-transform: none;
       
        color: bkaColor(font);
        padding: 0;
        
        h2{
            font-size: 2.5rem;
            text-align: center;
        }
       
    }
    #main_logo{
        text-align: center;
        padding-top: 60px;
        margin-bottom: 50px;
        img{
            width: 100%;
            max-width: 850px;
        }
    }
}
h1{
    font-size: 55px;
    text-transform: uppercase;
    margin: 0 1rem;
}

.event{
    
    background-image: url("../gfx/pictures/crowd_photo_dark.png");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: 2020px;
    background-size: 700%; //the size for the small mobile view due to the vertical stretching of the videopanel
    background-color: black;
    
    width: 100%;
    min-height: 250px;

    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    padding: 50px auto;
    margin: 50px auto 0;
   h1{
       margin: 50px auto;
   }
   h2{
        font-size: 2.5rem;
        margin: 50px auto 25px;
    }
    .img-container{
        width: 100%;
        background: rgba(255, 255, 255, 0.205);
        img{
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
        }
    }
    & > p{
        margin: 50px auto;
        font-size: 1.4rem;
        max-width: 90ch;
    }
}
@include mobile_large{
    .event{
        background-size: 300%;
    }
}
@include desktop{
    .event{
        background-size: 2020px;
    }
}
.weekly{
    @extend .event;
    // background-image: url("../gfx/pictures/weekly_dark_2.jpg");
    // background-repeat: no-repeat;  
    // background-position: center;
    background-image: none;
    background-size: 2020px;
    background-color: bkaColor(background_secondary);
    // background-position-x: center;
    // background-position-y: -70px;
}

.infs{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    height: 100%;
    width: 100%;
    max-width: 800px;
  
    
    @include mobile_small{
        grid-template-columns: 1fr;
      
        .infocard{
        margin: 10px 0;
            img{
                margin: 0px auto 10px;
                
            }
            p{
                margin: 0 auto;
                margin: 0 auto 0;
            }
        }
    }
   

    .infocard{
        text-align: center;
        align-self: center;
       
        
        color: bkaColor(background_primary);
        img{
            filter: invert(1);
            width: 30px;

        }
        p{
            margin: 50px auto;
            font-size: 11px;
        }
        a{
            text-decoration: none;
            color: inherit;
        }  
    }  
}



main{
    //???
    section:nth-child(1){
        margin-top: 50px;
    }
    section{
        // max-width: 1000px; 
         margin: 0 auto 100px;
       
        //border: 2px solid bkaColor(background_secondary);
        .section__header{
            background-color: bkaColor(background_primary);
            color: bkaColor(font);
            
            border-top: 20px solid bkaColor(background_dark);
            border-bottom: 20px solid bkaColor(background_dark);
            border-radius: 1px;
            text-align: center;
            
            margin-bottom: 20px;

            h1{
                font-weight: 900;
                font-size: 4.5rem;
                margin-bottom: 5px;
            }
            h2{
                font-weight: 900;
                font-size: 2.8rem;
                
            }
        }
        .section__content{
            font-weight: 400;
            font-size: 1.6rem;
            text-align: center;

            padding: 5px;

            p{
                margin: 10px auto 10px;
            }
            img{
               
                max-width: 80%;
                display: block;
                margin: 0px auto  10px;
            }
        }

        .section-strong{
            h2{
                color: #FF4516;
            }
            border: 2px solid #FF4516;
        }
    }    
}


footer{
    position: relative;
    text-align: center;
    padding: 20px 0px 120px 0px;
    background-color: bkaColor(background_secondary);
    color: bkaColor(font_secondary);
    
    #footer_logo{
        margin: 1.5em 0;
        width: 100px;
    }  

    .msm_nav{
        ul{            
            li{
                display: inline;
                /* spacing */
                margin-left: .5em;       
            }
        }

        .msm-nav-icon img{
            width: 3.2em;
            /* make the icons stand out from the dark background; invert the colors from black to white */
            -webkit-filter: invert(1);
            filter: invert(1);
        }   
    }

    .impressum{
        font-size: 1.5rem;
        margin: 2.5em 0;
    }
}


.topnav{
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: bkaColor(background_secondary);
    height: 70px;
    z-index: 2;
    
    #navlogo{
        margin-left: 20px;
        padding: 5px;
        height: 70px;
    }

    .navLinks{
        float: none;
        position: fixed;
        list-style-type: none;
        right: -55%;
        top: 70px;
        height: 100vh;
        width: 55%;
        
        text-align: right;
        transition: right .3s linear;

        background-color: bkaColor(background_secondary);
        font-size: 1.6rem;


        &.open{
            right: 0;
            
        }

        li{
            display: block;
            padding: 20px 20px;

            &:hover{
                background: tomato;
            }
            
            a{
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }


    /* custom (css) burger icon */
    .hamburger{
        @include desktop{
            display: none;
        }
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;
        
        .line{
            display: block;
            width: 35px;
            height: 5px;
            background-color: bkaColor(background_primary);
            border-radius: 1px;
            
            transition: all 0.2s ease-in, opacity 0.1s linear;
        }
        .line + .line{
            margin-top: 6px;
        }
    }
    .hamburger.open{
        .line{
            background-color: bkaColor(background_primary);
            border-color: bkaColor(background_primary);
        }
        .line:nth-child(1){
            transform: translateY(9px) rotate(45deg);
        }
        .line:nth-child(2){
            opacity: 0;
           // transform: translateX(40px);
        }
        .line:nth-child(3){
            transform: translateY(-13px) rotate(-45deg);
            
        }
    }
}

@include desktop{
    .topnav{
        position: relative;

        .navLinks{
            left: 0; top: 0;right: 0; bottom: 0;
            position: relative;
            float: right;
            display: block;
            width: auto;
            height: 70px;

            li{
                display: inline-block;
                margin-left: 50px;
                padding-top: 25px;
                &:hover{
                    background: none;
                }
            }
        }
    }
}
.stop-transition{
    transition: none !important;
}