.videos_area {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.container_video_wrapper {
  max-width: 100%;
  margin: 10px 0;
}

.container_video_wrapper .video_wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.container_video_wrapper .video_wrapper .youtube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.intro_video {
  width: 100%;
}

@media (min-width: 768px) {
  .videos_area {
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
  }
  .videos_area .container_video_wrapper {
    margin: 20px 20px;
  }
  .intro_video {
    max-width: 80%;
    width: 800px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .videos_area {
    -ms-grid-columns: (500px)[2];
        grid-template-columns: repeat(2, 500px);
  }
}

.debug {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #F8F8F8;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.strong1 {
  color: #FF7E16;
  color: #FF4516;
}

.map_wrapper {
  position: relative;
  margin: auto;
  width: 80%;
  height: 250px;
}

.map_wrapper .adress_map {
  width: 100%;
  height: 100%;
}

header {
  background-image: url("../gfx/pictures/crowd_photo_lighter.png.jpg");
  background-repeat: no-repeat;
  background-size: 1620px;
  background-position-x: center;
  background-position-y: -70px;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

header .topline, header .underline {
  background-color: #FF4516;
  text-align: center;
  text-transform: uppercase;
  color: #FAFFF3;
  font-weight: 700;
  font-size: 2.88rem;
  margin: 0 auto 5px;
}

header .underline {
  max-width: 450px;
  padding: 15px 0;
  margin-bottom: 15px;
  border-radius: 2px;
  font-size: 2.2rem;
  background-color: #FF4516;
  color: #FAFFF3;
}

header .intro__text {
  position: relative;
  display: inline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: none;
  color: #1a2635;
  padding: 0;
}

header .intro__text h2 {
  font-size: 2.5rem;
  text-align: center;
}

header #main_logo {
  text-align: center;
  padding-top: 60px;
  margin-bottom: 50px;
}

header #main_logo img {
  width: 100%;
  max-width: 850px;
}

h1 {
  font-size: 55px;
  text-transform: uppercase;
  margin: 0 1rem;
}

.event, .weekly {
  background-image: url("../gfx/pictures/crowd_photo_dark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 2020px;
  background-color: black;
  width: 100%;
  min-height: 250px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  padding: 50px auto;
  margin: 50px auto 0;
}

.event h1, .weekly h1 {
  margin: 50px auto;
}

.event .img-container, .weekly .img-container {
  width: 100%;
  background: rgba(255, 255, 255, 0.205);
}

.event .img-container img, .weekly .img-container img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.event p, .weekly p {
  margin: 50px auto;
  font-size: 1.4rem;
  width: 80%;
}

.event h2, .weekly h2 {
  font-size: 2rem;
  margin: 50px auto 0;
}

.weekly {
  background-image: none;
  background-size: 2020px;
  background-color: #FF4516;
}

.infs {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  color: #313131;
  height: 100%;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 400px) {
  .infs {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .infs .infocard {
    margin: 10px 0;
  }
  .infs .infocard img {
    margin: 0px auto 10px;
  }
  .infs .infocard p {
    margin: 0 auto;
    margin: 0 auto 0;
  }
}

.infs .infocard {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.infs .infocard img {
  width: 30px;
}

.infs .infocard p {
  font-size: 11px;
}

.infs .infocard a {
  text-decoration: none;
  color: inherit;
}

main section:nth-child(1) {
  margin-top: 50px;
}

main section {
  margin: 0 auto 100px;
}

main section .section__header {
  background-color: #F8F8F8;
  color: #1a2635;
  border-top: 20px solid #1a2635;
  border-bottom: 20px solid #1a2635;
  border-radius: 1px;
  text-align: center;
  margin-bottom: 20px;
}

main section .section__header h1 {
  font-weight: 900;
  font-size: 4.5rem;
  margin-bottom: 5px;
}

main section .section__header h2 {
  font-weight: 900;
  font-size: 2.8rem;
}

main section .section__content {
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  padding: 5px;
}

main section .section__content p {
  margin: 10px auto 10px;
}

main section .section__content img {
  max-width: 80%;
  display: block;
  margin: 0px auto  10px;
}

main section .section-strong {
  border: 2px solid #FF4516;
}

main section .section-strong h2 {
  color: #FF4516;
}

footer {
  position: relative;
  text-align: center;
  padding: 1em 2em;
  background-color: #FF4516;
  color: #FAFFF3;
}

footer #footer_logo {
  margin: 1.5em 0;
  width: 100px;
}

footer .msm_nav {
  /* align al little left to centralize */
  margin-left: -2em;
}

footer .msm_nav ul li {
  display: inline;
  /* spacing */
  margin-right: .5em;
}

footer .msm_nav .msm-nav-icon img {
  width: 3.2em;
  /* make the icons stand out from the dark background; invert the colors from black to white */
  -webkit-filter: invert(1);
  filter: invert(1);
}

footer .impressum {
  font-size: 1.5rem;
  margin: 2.5em 0;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #FF4516;
  height: 70px;
  z-index: 2;
  /* custom (css) burger icon */
}

.topnav, .topnav > * {
  border: 1px solid blue;
}

.topnav #navlogo {
  float: left;
  margin-left: 20px;
  padding: 5px;
  height: 70px;
}

.topnav .navLinks {
  float: none;
  position: fixed;
  list-style-type: none;
  background-color: #FF4516;
  right: -55%;
  top: 70px;
  height: 100vh;
  width: 55%;
  text-align: right;
  -webkit-transition: right .3s linear;
  transition: right .3s linear;
}

.topnav .navLinks.open {
  right: 0;
}

.topnav .navLinks li {
  display: block;
  padding: 20px 20px;
}

.topnav .navLinks li:hover {
  background: tomato;
}

.topnav .navLinks li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.topnav .hamburger {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

@media (min-width: 992px) {
  .topnav .hamburger {
    display: none;
  }
}

.topnav .hamburger .line {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #F8F8F8;
  border-radius: 1px;
  -webkit-transition: all 0.2s ease-in, opacity 0.1s linear;
  transition: all 0.2s ease-in, opacity 0.1s linear;
}

.topnav .hamburger .line + .line {
  margin-top: 6px;
}

.topnav .hamburger.open .line {
  background-color: #F8F8F8;
  border-color: #F8F8F8;
}

.topnav .hamburger.open .line:nth-child(1) {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
}

.topnav .hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.topnav .hamburger.open .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
}

@media (min-width: 992px) {
  .topnav {
    position: relative;
  }
  .topnav .navLinks {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: relative;
    float: right;
    display: block;
    width: auto;
    height: 70px;
  }
  .topnav .navLinks li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
  }
  .topnav .navLinks li:hover {
    background: none;
  }
}

.stop-transition {
  -webkit-transition: none !important;
  transition: none !important;
}
/*# sourceMappingURL=style_main_2.css.map */