// $colorscheme: (
//     background_primary: #F2EECA,
//     background_secondary: #1a2635, //#2F3627,
//     background_third: #1a2635,
//     font: #1a2635,  //#2F3627,
//     font_secondary: #FAFFF3,
//     font_third: #7D0300,
//     link: #7D0300
// );
$colorscheme: (
    background_primary: #F8F8F8,
    background_secondary: #1a2635, //#2F3627,
    background_third: #1a2635,
    font: #1a2635,  //#2F3627,
    font_secondary: #FAFFF3,
    font_third: #7D0300,
    link: #7D0300
);

$colorscheme: (
    background_primary: #F8F8F8,
    background_secondary: #FF4516, //#2F3627,
    background_third: #FF4516,
    background_fourth: #B20400,
    background_dark: #1a2635,
    font: #1a2635,  //#2F3627,
    font_secondary: #FAFFF3,
    font_third: #FF4516,
    link: #7D0300,
    link_secondary: violet
);



@function bkaColor($color){
    @return map-get($colorscheme, $color);
}


$breakpoints:(
    // Small tablets and large smartphones (landscape view)
    screen-sm-min: 567px,
    // Small tablets (portrait view)
    screen-m-min: 768px,
    // Tablets and small desktops
    screen-lg-min: 992px,
    // Large tablets and desktops
    screen-xl-min: 1200px
);

@function screenSize($screentype){
    @return map-get($breakpoints, $screentype);
}


@mixin mobile{
    @media(max-width: screenSize(screen-m-min)-1){
        @content;
    }
}

@mixin desktop{
    @media(min-width: screenSize(screen-m-min)){
        @content;
    }
}

@mixin desktop_large{
    @media(min-width: screenSize(screen-lg-min)){
        @content;
    }
}

.debug{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background-color: bkaColor(background_primary);
    //font-family: 'Libre Franklin', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    position: relative;
}
.strong1{
    color: #FF7E16;
    color: #FF4516;
}

.container_video_wrapper{
    max-width: 80%;
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;

    .video_wrapper{
        position: relative;       
        margin: 0 auto;
        padding-bottom: 56.25%;
        padding-top: 0;
        height: 0;
        overflow: hidden;
        
        .youtube{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
        }
    }
}


.map_wrapper{
    position: relative;       
    margin: auto;
    width: 80%;
    height: 250px;

    .adress_map{
        width: 100%;
        height: 100%;
    }
}

.topnav{      
    display: flex;  
    min-height: 80px;
   
    background-color: bkaColor(background_secondary);
    align-items: center;
    position: relative;
    #navlogo{
        position: relative;
        margin-left: 20px;
        height: 70px;
    }
    .NavLinks {
        display: flex;
        justify-content: space-around;
        width: 60%;
        
        margin-left: auto;
        list-style-type: none;
        position: relative;
        @include desktop_large{
            width: 50%;
        }
        li{
            position: relative;
            text-align: center;
           
            a{
                color: bkaColor(font_secondary);
                
                text-decoration: none;
                font-size: 2.6rem;
                font-weight: bold;
                
            }
         
        }
        li:hover{
            a{
                color: bkaColor(font);
            }
           
        }
    }
}




header{

    background-image: url("../gfx/pictures/crowd_photo_lighter.png.jpg");
    background-repeat: no-repeat;  
    // background-position: center;
    background-size: 1620px;
    background-position-x: center;
    background-position-y: -70px;
    
    margin-bottom: 50px;
    padding-bottom: 20px;
    #header-background{
        display: none;
        position: absolute;
        z-index: -2;
    }
    
    .topline{
        
        background-color: bkaColor(background_secondary);
        text-align: center;
        text-transform: uppercase;
        color: bkaColor(font_secondary);
        font-weight: 700;
        font-size: 2.88rem;
        margin: 0 auto 5px;
    }
    .underline{
        @extend .topline;
        max-width: 450px;
       
        padding: 15px 0;
        margin-bottom: 15px;
        border-radius: 2px;
        font-size: 2.2rem;
           
        background-color: bkaColor(background_secondary);
        color: bkaColor(font_secondary);
    }
    .intro__text{
        position: relative;
        display: inline;
        align-items: center;
        
        text-transform: none;
       
        color: bkaColor(font);
        padding: 0;
        
        h2{
            font-size: 2.5rem;
            text-align: center;
        }
       
    }
    #main_logo{
        text-align: center;
        padding-top: 60px;
        margin-bottom: 50px;
        img{
            width: 100%;
            max-width: 850px;
        }
    }
}
h1{
    font-size: 55px;
    text-transform: uppercase;
    margin: 0 1rem;
}

.event{
    
    background-image: url("../gfx/pictures/crowd_photo_dark.png");
    background-repeat: no-repeat;  
    background-position: center;
    background-size: 2020px;
    width: 100%;
    min-height: 250px;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    text-align: center;

    padding: 50px auto;
    margin: 50px auto 0;
   h1{
       margin: 50px auto;
   }
    .img-container{
        width: 100%;
        background: rgba(255, 255, 255, 0.205);
        img{
       
            max-width: 400px;
            margin: 0 auto;
        }
        
    }
    p{
        margin: 50px auto;
        font-size: 1.4rem;
        width: 80%;
    }
    h2{
        font-size: 2rem;
        margin: 50px auto 0;
    }
    .videos{
        display: flex;
        height: 200px;
        width: 1200px;
        padding: 20px 0;
        margin: 0px auto 50px;    
        //background-color: rgba(0, 0, 0, 0.74);
        
        .container_video_wrapper{
            margin: auto 10px;
        }
    }
}

.weekly{
    @extend .event;
    background-image: url("../gfx/pictures/weekly_dark_2.jpg");
    background-repeat: no-repeat;  
    background-position: center;
     background-size: 2020px;
    // background-position-x: center;
    // background-position-y: -70px;
}

.section{
    position: relative;
    width: 90%;
    max-width: 1200px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    //grid-auto-rows: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "illustration illustration header header header"
        "illustration illustration text text text"
        "illustration illustration text text text"
        "illustration illustration info info info"
        ;
        
    @include mobile{
        grid-template-areas: 
        "illustration illustration illustration illustration illustration"
        "illustration illustration illustration illustration illustration"
        "header header header header header"
        "text text text text text"        
        "text text text text text"        
        "info info info info info"
        ;

    }

    .section__illustration{
        position: relative;
        grid-area: illustration;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
        

    }
    h1{
        grid-area: header;
    }
    
    > p{
        grid-area: text;
        color: rgb(49, 49, 49);
        font-size: 1.2rem;
        line-height: 20px;
        margin: 0 1rem;
    }
    .infs{
        grid-area: info;
    }
}

.infs{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgb(49, 49, 49);
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    //background-color: rgba(0, 0, 0, 0.616);
    
    //border: 1px solid green;
    .infocard{
        text-align: center;
        align-self: center;
       
        filter: invert(1);
        
        img{
            width: 30px;
            margin-top: 20px;
        }
        p{
            font-size: 11px;
        }
        a{
            text-decoration: none;
            color: inherit;
        }  
    }  
}



main{
    //???
    section:nth-child(1){
        margin-top: 50px;
    }
    section{
        // max-width: 1000px; 
         margin: 0 auto 100px;
       
        //border: 2px solid bkaColor(background_secondary);
        .section__header{
            background-color: bkaColor(background_primary);
            color: bkaColor(font);
            
            border-top: 20px solid bkaColor(background_dark);
            border-bottom: 20px solid bkaColor(background_dark);
            border-radius: 1px;
            text-align: center;
            
            margin-bottom: 20px;

            h1{
                font-weight: 900;
                font-size: 4.5rem;
                margin-bottom: 5px;
            }
            h2{
                font-weight: 900;
                font-size: 2.8rem;
                
            }
        }
        .section__content{
            font-weight: 400;
            font-size: 1.6rem;
            text-align: center;

            padding: 5px;

            p{
                margin: 10px auto 10px;
            }
            img{
               
                max-width: 80%;
                display: block;
                margin: 0px auto  10px;
            }
        }

        .section-strong{
            h2{
                color: #FF4516;
            }
            border: 2px solid #FF4516;
        }
    }    
}


footer{
    position: relative;
    text-align: center;
    padding: 1em 2em;
    background-color: bkaColor(background_secondary);
    color: bkaColor(font_secondary);
    
    #footer_logo{
        margin: 1.5em 0;
        width: 100px;
    }  

    .msm_nav{
        /* align al little left to centralize */
        margin-left: -2em;
        
        ul{            
            li{
                display: inline;

                /* spacing */
                margin-right: .5em;       
            }
        }

        .msm-nav-icon img{
            width: 3.2em;
            /* make the icons stand out from the dark background; invert the colors from black to white */
            -webkit-filter: invert(1);
            filter: invert(1);
        }   
    }

    .impressum{
        font-size: 1.5rem;
        margin: 2.5em 0;
    }
}


@include mobile{
    .desktop{
        display: none;
    }
    
    header{
        background-size: 1620px;
        background-position-x: center;
        background-position-y: -70px;
        
        margin-bottom: 20px;
    }

    
    .container_video_wrapper{width: 100%;
    max-width: 100%;}

    .topnav{
        position: sticky;
        min-height: 50px;
        z-index: 2;
        top: 0;
        margin: 0;
        
        display: block;
        text-align: right;

        #navlogo{
            position: absolute;
            left: 0px;
            z-index: 3;
            top: 50%;
            height: 45px;
            transform: translateY(-50%);
        }
        .NavLinks {
           display: block;
           position: fixed;
           right: -155vw;
           top: 0px;
           height: 100vh;
           width: 55vw;
           padding-top: 50px;
           margin-left: auto;
           z-index: 2;

           background-color: #FF4516;
           transition: all 0.5s linear;  

            li{
                display: block;
                padding: 5px 20px;
                margin: 0 0 30px 0;
                text-align: right;
                a{
                    color: bkaColor(font_secondary);
                    text-decoration: none;
                }
            }
            li:hover{
                a{
                    color: #FF4516;
                }
                background-color: bkaColor(background_primary);
            }
        }
        
        .NavLinks.open{
            right: 0vw;
        }

        /* custom (css) burger icon */
        .hamburger{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            z-index: 3;
            
            .line{
                display: block;
                width: 35px;
                height: 5px;
                background-color: bkaColor(background_primary);
                // border: solid 2px bkaColor(background_primary);
                border-radius: 1px;
                
                transition: all 0.2s ease-in, opacity 0.1s linear;
            }
            .line + .line{
                margin-top: 6px;
            }
        }
        .hamburger.open{
            .line{
                background-color: bkaColor(background_primary);
                border-color: bkaColor(background_primary);
            }
            .line:nth-child(1){
                transform: translateY(9px) rotate(45deg);
            }
            .line:nth-child(2){
                opacity: 0;
                transform: translateX(40px);
            }
            .line:nth-child(3){
                transform: translateY(-13px) rotate(-45deg);
                
            }
        }
    }
}

@include desktop{
    .mobile{
        display: none;
    }
}

